

<footer>
    This is my footer
    <!-- contact info, social media, hover animation, link to main mjc site  -->
</footer>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>window.initialCartState = <%- JSON.stringify(locals.cart || []) %></script>
<script src="/js/modal-auth.js"></script>
<script src="/js/global-cart.js"></script>
</body>
</html>