<%- include ("partials/header.ejs") %>
<div>
<h1>info practique</h1>
</div>

<div>
<h2>opening and closing</h2>
<img src="/public/images/kids.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>Edito</h2>
<img src="/public/images/Visuel-menuiserie-300x200.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>Cinema</h2>
<img src="/public/images/cinema.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>Shows</h2>
<img src="/public/images/shows.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>workshops</h2>
<img src="/public/images/workshop.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>other info</h2>
<img src="/public/images/shows/picture3.jfif" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>

<div>
<h2>les partenaires</h2>
<img src="/public/images/kids.jpg" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum ducimus expedita dolores, iure ullam cumque in atque maxime magnam temporibus suscipit provident velit quod, id distinctio quos quasi fuga!</p>
</div>


<%- include ("partials/footer.ejs") %>