<%- include ("partials/header.ejs") %>
<div class="info heading">
<h1>info practique</h1>

<h2 class="round-title">L’ouverture et la clôture de FestiMôm’ : </h2>
</div>

 <div class="info-div">
    <div class="info-div-title bg-text bg-img" id="open">
 <h2 class="">c’est pour tous,
 place du jumelage au perrier</h2>
</div>
<p class="info off">Après-midis construites en partena riat avec La Bulle, l’Espace de Vie Sociale,  l’Eau Vive, les mamans de cœur et l’association des Parents d’Élèves de la Fontaine.
 Festival de rue, en cas de mauvais temps, une version allégée sera proposée.</p>
 <h2> Samedi 18 et samedi 25 
de 14h à 18h. 
Après-midis festifs 
entièrement gratuits</h2>
</div>

<div class="info-div">
    <div class="info-div-title">
<h2>Edito</h2>
</div>
<p> Cette année encore, FestiMôm’ met à l’honneur l’enfance et la famille, valeurs 
fondatrices de notre MJC. Plus qu’un rendez-vous culturel, le festival est une 
véritable fête partagée, pensée pour éveiller la curiosité, stimuler l’imaginaire 
et tisser du lien entre générations. Car la culture est d’autant plus vivante 
lorsqu’elle se vit ensemble, dans un esprit de convivialité et de découverte.
 2025 est une année toute particulière : nous célébrons les 50 ans du cinéma Ciné 
Actuel, véritable atout de la MJC. Pour marquer cet anniversaire, le cinéma 
occupe une place centrale dans notre programmation. Projections, ateliers 
ludiques et animations inédites viendront faire rayonner le 7e art, offrant aux 
enfants et à leurs familles l’occasion de se plonger dans la magie des images 
et aussi de mieux comprendre les coulisses de la création.
 FestiMôm’, c’est aussi une aventure collective qui prend racine au plus près 
des habitants. Nous ouvrirons et clôturerons cette édition sur le site du Perrier, 
les deux samedis après-midi du festival.
 Ce choix n’est pas anodin : il traduit l’importance que nous accordons au lien 
avec le quartier et à l’ancrage du futur centre socio-culturel qui y verra le jour. 
Entre spectacles, ateliers participatifs et moments festifs, nous voulons faire 
de ce lieu un espace de rencontres, de partages et d’avenir.
 Nous en sommes convaincus : la programmation de cette année saura 
enchanter petits et grands.
 FestiMôm’, c’est une invitation à la rêverie, à la créativité et au plaisir d’être 
ensemble. Nous vous attendons nombreux pour écrire, tous ensemble,  
une nouvelle page de cette belle histoire collective.
 Enfin, un immense merci à tous les bénévoles, dont l’énergie et la générosité 
rendent ce festival possible. Grâce à eux, FestiMôm’ continue de grandir  
et de faire vibrer Annemasse au rythme des enfants et des familles.</p>
 <h4>LILIANE FEARN, </h4> 
<p>Présidente de la MJC Annemasse </p>
</div>

<div class="info-div">
    <div class="info-div-title bg-text bg-img" id="cinema">
<h2>Cinéma</h2>
</div>
<p class="info off"> La salle du Ciné Actuel est située au niveau -2 de la MJC site Centre 
14 jours de projections, 9 films, 56 projections.
 Ciné actuel</p>
 <h4>SANS RÉSERVATION</h4>
 <p class="info off"> 
 Ouverture des caisses 15 minutes avant le début de la séance
 Tarif : moins de 13 ans : 3,50 €, plein tarif : 6,60 €, tarif réduit* : 5,60 €
 *Tarif réduit : adhérents MJC, plus de 60 ans, moins de 18 ans, 
demandeurs d’emplois et familles nombreuses.
 Ouverture des caisses 15 minutes avant le début de la séance
 Tarif : moins de 13 ans : 3,20 €, plein tarif : 6,30 €, tarif réduit* : 5,30 €
 *Tarif réduit : adhérents MJC, plus de 60 ans, moins de 18 ans, demandeurs d’emplois et familles</p>
</div>

<div class="info-div" >
    <div class="info-div-title bg-text bg-img" id="shows">
<h2>Shows</h2>

</div>
<p class="info off"> Les billets sont à la vente en ligne sur festimom. fr ou à l’accueil de la MJC (aux horaires habituels). Pour ravir vos yeux et vos oreilles, laisser voguer 
vos imaginaires, ressentir de l’émotion, 8 compagnies vont se succéder pour 17 représentations !  Il y en a pour tous les goûts et pour tous les âges !</p>
<p class="info off">
   L’ensemble des spectacles ont lieu à la MJC site Centre sauf les spectacles d’inauguration  et de clôture des samedis 18 et 25 octobre proposés à l’Auditorium du Perrier en libre accès dans la limite des 243 sièges disponibles.  
</p>
<h4>Tarif unique : 5 euros</h4>
</div>

<div class="info-div">
    <div class="info-div-title bg-text bg-img" id="workshop">
<h2>Ateliers</h2>
</div>
<p> Comment choisir l’atelier qui convient à votre enfant ? •  2 types d’ateliers indiqués par pictogrammes : pour les plus petits à vivre 
« parents et enfants » ou pour les enfants venants « seuls » découvrir une activité.
 •  Dans une large palette de goûts et d’envies classée en catégories : tout-petits, 
 science, sports, détente & mieux être, arts de la scène, 7ème art, musique, bricolage,  découverte, arts plastiques, activités manuelles, imaginer.
 
 •  Durées comprises entre 45 minutes   et 2 heures adaptées à la capacité atten
tionnelle des enfants. Chers parents, notez que les âges que  nous indiquons sont impérativement à respecter. Ils prennent déjà en compte que les enfants sont brillants et bien éveillés. 
 Merci également de respecter cette règle : le petit frère ou la grande sœur n’est pas accepté dans les ateliers parent-enfant. Il vous faudra trouver une solution « de garde » pour elle ou lui. Les ateliers ont principalement lieu à la 
MJC site Centre mais certains sont proposés ailleurs (Château-Rouge, école ma
ternelle Marianne Cohn…). En concoctant votre programme, n’oubliez pas d’ajouter 
le temps de trajet. Petit conseil : ne surchargez pas la journée de votre enfant : un atelier, un spectacle (ou une séance de cinéma) et un moment dans l’Espace à Vivre en Famille, c’est déjà pas mal !
</p>
<table class="table-info">
    <caption>(seul l'enfant paie sa place - gratuit pour l'adulte accompagnant)</caption>
    <tr>
        <th>Durée</th>
        <th>Tarif</th>
        <th>Réduit Adhérent MJC</th>
    </tr>
    <tbody>
        <tr>
            <td>25 À 45 min</td>
            <td>8€</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>1H ou 45 min</td>
            <td>9€</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>1H30</td>
            <td>10€</td>
            <td>7€</td>
        </tr>
        <tr>
            <td>2H</td>
            <td>11€</td>
            <td>8€</td>
        </tr>
    </tbody>


</table>

</div>

<div class="info-div">
    <div class="info-div-title bg-text bg-img" id="info">
<h2>infos pratiques</h2>

</div>
<p> Voici la réponse à la question qui nous est le plus fréquemment posée : « Non, FestiMôm’ n’est pas réservé aux adhérents de la MJC, il est ouvert à tous, annemassiens, comme bretons et parisiens ». Une seule différence, un tarif préférentiel est accordé aux adhérents. Cela peut même être l’occasion de le devenir ! Les ateliers et spectacles sont sur billetterie. Cette dernière est dématérialisée. Nous vous donnons RDV sur notre site www.festimom.fr à partir du mardi 23 septembre. Vous pouvez également vous inscrire à l’accueil de la MJC aux horaires habituels. Pendant le festival, retrouvez la billetterie au 1er étage de la MJC site Centre. Billetterie cinéma : La salle de cinéma « Ciné Actuel » se situe dans les locaux de la MJC site Centre. Sans réservation. Ouverture de la caisse 15 minutes avant le début de chaque séance. Pour les ateliers « parent + enfant », 
seul l’enfant paie son inscription. Pour les spectacles, toute personne entrant 
dans la salle, enfant comme parent, doit être munie d’un billet.
 L’Espace à Vivre en Famille et les animations sous la yourte sont en libre accès. Pique-niques tirés du sac bienvenus. Pour votre confort et pour le bon déroulement des spectacles et ateliers, la tranche d’âge indiquée dans ce programme est à respecter. En cas de non-respect, l’accès en salle sera refusé et aucun remboursement ne pourra être demandé. Les représentations commencent à 
l’heure (sauf imprévu indépendant de notre volonté). Les retardataires ne 
seront pas admis dans la salle et aucun remboursement ne pourra être exigé.
 Le cœur du festival se situe sur le site Centre de la MJC. Certains des ateliers, 
spectacles ou animations sont proposés sur d’autres lieux. Cette information 
est clairement indiquée par des pictogrammes dans cette brochure. Pensez au temps de trajet entre les différents lieux lorsque vous concoctez votre programme. Ce festival ne pourrait vivre sans l’implication des bénévoles. N’hésitez-pas à venir rejoindre l’équipe ! 
Contact : Samuel 
(evenementiel@mjc-annemasse.fr)</p>
</div>

<div class="info-div">
    <div class="info-div-title bg-text bg-img" id="mjc">
        <h2> MJC SITE CENTRE</h2>
<h2>l'espace à vivre en famille cœur du festival</h2>
 </div>


<p> OUVERT TOUS LES JOURS DE 9H À 18H30 EN LIBRE ACCÈS DU DIMANCHE 19 AU VENDREDI 24 OCTOBRE INCLUS C’est le lieu d’échanges, de partages et de rencontres du festival. On y vient avant ou après un spectacle, un atelier, une séance de cinéma. On peut 
y rester une heure ou la journée : les enfants jouent avec d’autres enfants, 
on se pose avec le petit frère pendant que la grande sœur est en activité, on 
boit un verre (bar ouvert de 10h à 12h et de 14h à 18h). C’est également le 
lieu où sont proposées de nombreuses animations en libre accès. 
 Retrouvez le programme affi ché dans le lieu et mettez-vous dans les star
ting-blocks pour en profi ter ! Horaires d’ouverture de la salle 
Woody (lieu de jeu parents-enfants de 0 à 6 ans, avec l’équipe 
de l’Instant P… pour vous accueillir) : 
De 9h à 11h30 tous les jours du 19 au 24 
sauf le jeudi.</p>
</div>
<div class="info-div">
<div class="info-div-title">
<img src="/images/test/kids.jpg" alt="">
<img class="logo" src="/images/Logos/Logo combat d'Alya.png" alt="Logo combat d'Alya">
<h2>le combat d'alya</h2>

<p> Annemassienne, Alya vie le handicap au quotidien. Sa maman a crée une 
association pour collecter des fonds pour fi nancer les soins, les appareils 
médicaux et les thérapies alternatives non prises en charge. L’association 
soutient également les familles qui se retrouvent touchées par le handicap et 
les diffi cultés qui en découlent. Les bénévoles proposeront durant le 
festival des ateliers parcours « se mettre à la place de ». Venez à leur rencontre !</p>
</div>

 
<div class="info-div">
    <div class="info-div-title">
<h2>les partenaires</h2>
</div>
<p>FestiMôm'tient à remercier vivement
 ses partenaires</p>
 <img class="logo" src="/images/Logos/Logo Annemasse Agglo en RVB.jpg" alt="Logo Annemasse Agglo">
<img class="logo" src="/images/Logos/Logo APE La Fontaine.jpg" alt="Logo APE La Fontaine">
<img class="logo" src="/images/Logos/Logo Château Rouge.svg" alt="Logo Annemasse Agglo">
<img class="logo" src="/images/Logos/Logo combat d'Alya.png" alt="Logo combat d'Alya">
<img class="logo" src="/images/Logos/Logo Annemasse Agglo.jpg" alt="Logo Annemasse Agglo">
<img class="logo" src="/images/Logos/Logo Conseil départemental de Haute Savoie.png" alt="Logo départemental de Haute Savoie">
<img class="logo" src="/images/Logos/Logo EVAV.jpg" alt="Logo EVAV">
<img class="logo" src="/images/Logos/Logo EVS.jpg" alt="Logo EVS">
<img class="logo"  src="/images/Logos/Logo Festijeux.png" alt="Logo Festijeux">
<img class="logo" src="/images/Logos/Logo L'eau Vive.PNG" alt="Logo L'eau Vive">
<img class="logo" src="/images/Logos/Logo La Bulle.png" alt="Logo La Bulle">
<img class="logo" src="/images/Logos/Logo Mamans de coeur.PNG" alt="Logo Mamans de coeur">
</div>


<%- include ("partials/footer.ejs") %>