<%- include ("partials/header.ejs") %>


 <div id="view-window">
    
    
    <ul class="menu">
        <li> <a href="#map"> Top </a></li>
        <li> <a href="#le-perrier"> Le Perrier </a></li>
        <li> <a href="#la-yourte"> La Yourte </a></li>
        <li> <a href="#mjc-centre"> Site MJC Centre </a></li>
        <li> <a href="#villa-du-parc"> Villa du Parc </a></li>
        <li> <a href="#chateau-rouge"> Chateau Rouge</a></li>
        <li> <a href="#marianne-cohn"> École maternelle Marianne Cohn</a></li>
    </ul>
   
    <div id="map" class="bg">
        <div class="bg-text">
            <h2> Lieux du festival </h2>
            <p>adress, infor etc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius excepturi velit ipsa tempore, doloremque incidunt odio natus.</p>
        </div></div>

        <div id="le-perrier" class="bg">
            <div class="bg-text">
            <h2> Le Perrier </h2>
            <h4>PLACE DU JUMELAGE</h4>
            <p>Notre vernissage et notre clôture ont lieu ici : ateliers,spectacles
animations,buvette. Un moment convivial pour toute la famille</p></div>
        </div>

        <div id="la-yourte" class="bg">
            <div class="bg-text">
            <h2> La Yourte </h2>
            <h2> PARC CLÉMENCEAU</h2>
            <p>Depuis quelques années, la yourte est devenue un lieu incontournable du festival. Venez participer en famille à la création d’une œuvre collective !</p>
            <h4>TOUS LES JOURS DE 14H30 À 17H30 DU DIMANCHE 19 AU VENDREDI 25 OCTOBRE INCLUS ACCÈS LIBRE ET GRATUIT AUX ENFANTS ACCOMPAGNÉS DE LEURS PARENTS</h4>
        </div>
        </div>

        <div id="mjc-centre" class="bg">
            <div class="bg-text">
            <h2> Site MJC Centre  </h2>
            <h4> 3, RUE DU 8 MAI 1945</h4>
            <p>le hub du festi-maman cinéma, ateliers, spectacles, l'espace à vivre en famille. coeur du festival</p></div>
        </div>

        <div id="villa-du-parc" class="bg">
            <div class="bg-text">
            <h2> Villa du Parc </h2>
            <h4> PARC MONTESSUIT</h4>
            </div>
        </div>
          <div id="chateau-rouge" class="bg">
             <div class="bg-text">
            <h2> Chateau Rouge </h2>
            <h4> 1, ROUTE DE BONNEVILLE</h4>
            </div>
        </div>
          <div id="marianne-cohn" class="bg">
            <div class="bg-text">
            <h2> École maternelle Marianne Cohn </h2>
            <p> ENTRÉE PRINCIPALE 2, RUE LÉON GUERSILLON ENTRÉE COURS DE RÉCRÉATION 
À L’INTERSECTION DE LA RUE LÉANDRE VAILLAT ET DE LA RUE DU PETIT MALBRANDE</p></div>
        </div>

</div>
<script>
    const menu = document.querySelector('.menu');
    const menuOffsetTop = menu.offsetTop;
    window.addEventListener('scroll', () => {
        if(window.pageYOffset >= menuOffsetTop) {
            menu.classList.add('sticky');
        } else {
            menu.classList.remove('sticky');
        }
    })
</script>



<%- include ("partials/footer.ejs") %>