<%- include ("partials/header.ejs") %>

<div>
<h1>Frequently asked question</h1>
</div>


<div>
    <h3>question</h3>
    <p>response</p>
</div>
<div>
    <h3>question</h3>
    <p>response</p>
</div>
<div>
    <h3>question</h3>
    <p>response-we can store the questions in the data-base and build up to have a search for the questions with sections, subsections, get's you high in the google list</p>
</div>




<%- include ("partials/footer.ejs") %>