/* global css */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
    background-color: whitesmoke;
    
}
 .navbar-toggler {
    box-shadow: none !important;
    outline: none !important;
}
/* location elements */
/* location picture roll css universal for now */
div#view-window{
    width: 100%;
    height: 80%;
    
}
div#view-window ul.menu{
    /* position: fixed; */
   list-style-type: none;
            z-index: 999;
            background-color: rgb(155, 25, 25);
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin-top: -4px;
            height: auto;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
}
ul.menu.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
div#view-window ul.menu li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 15px;
    display: block;
}
    div.bg{
            height: 100vh;
            /* position: relative; */

            display: flex;
            justify-content: center;
            align-items: center;

            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        div.bg-text {
            display: block;
            color: aliceblue;
            text-shadow:-1px -1px 0 #000,  /* top-left corner */
                        1px -1px 0 #000,  /* top-right corner */
                        -1px  1px 0 #000,  /* bottom-left corner */
                        1px  1px 0 #000; /* bottom-right corner */
            text-align: center;
            width: 80%;

        }
     div#map{
            background-image: url("/images/test/loc/map.jpg");
        }
        div#le-perrier{
            background-image: url("/images/test/loc/le-perrier.jfif");
        }
        div#la-yourte{
            background-image: url("/images/test/loc/la-yourte.jfif");
        }
        div#mjc-centre{
            background-image: url("/images/test/loc/mjc.jfif");
        }
        div#villa-du-parc{
            background-image: url("/images/test/loc/villa.jfif");
        }
        div#chateau-rouge{
            background-image: url("/images/test/loc/chateau-rouge.jfif");
        }
        div#marianne-cohn{
            background-image: url("/images/Picto\ Cohn\ maternelle\ dans\ programme\ de\ 2022.JPG");
        }   
        /* end location elements */
        /* card event elements */

        .cinema-card{
            background-color: blue;
        }
        .cinema-card h2{
            font-size: 25px;
            color: aliceblue;
            align-content: center;
        }
        .show-card {
            background-color: orange;
        }
        .workshop-card{
            background-color: green;
        }
        h2.round-title{
            background-color: deeppink;
            border-radius: 8px;
            padding: 5px 10px;
            display: inline;
            margin: 0px 15px;
        }
        .card-title{
            background-color: deeppink;
            border-radius: 8px;
            padding: 5px 10px;
            display: inline;
            height: 75px;
            text-align: center;

        }
        h3.loc{
            background-color: lightgreen;
            border-radius: 8px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 20px;
            display: inline;
            width: fit-content;
        }
        /* table{
            border: 0.5px solid black;
            border-radius: 12%;
            box-shadow: 5px black;
            height: 8%;
            background-color: purple;
        } */
        .table-date{
            table-layout: fixed;
            width: 100%;
            border: 0.5px solid black;
            border-radius: 12%;
            box-shadow: 5px black;
            height: 8%;
        }
        .table-date th{
            width: 50px;
            padding-right: 10px;
        }
        div.workshop-card img.card-img-top-show{
            width: 100%;
            height: 25%;
        }
        div.cinema-card img.card-img-top-show {
            height: auto;
            width: 100%;
        }
        div.show-card img.card-img-top-show{
            width: 100%;
            height: 30%;
        }
        /* end card event elements */
        /* info page elements */

        img.logo{
            height: 55px;
            width: 55px;
        }
        .info-div{
            display: block;
            align-items: center;
            justify-content: center;
            margin: 30px;
        }
        div.info-div p {
            columns: 2;
            column-gap: 20px;
        }
         div.info-div p.off {
            columns: 1;
            column-gap: 20px;
        }
        div.info-div div.info-div-title {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        div.heading h1{
            padding: 30px;
            text-align: center;
        }
        .bg-img{
            height: 380px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y:center;

        }
        div#open{
            background-image: url("/images/test/kids.jpg"); 
        }
         div#cinema{
            background-image: url("/images/test/cinema.jpg"); 
        }
         div#shows{
            background-image: url("/images/test/shows.jpg"); 
        }
         div#workshop{
            background-image: url("/images/test/workshop.jpg"); 
        }
         div#info{
            background-image: url("/images/test/shows/picture3.jfif"); 
        }
         div#mjc{
            background-image: url("/images/test/kids.jpg"); 
        }
        /* end info page element */



  

/* end global css */
/* header start */
.navbar {
    margin-bottom: 0;
    padding: 0;
}
#cart {
    margin: 1%;
}
nav > div {
    background-color: darkmagenta;
    margin-bottom: 0;
     border-bottom: 5px solid transparent ;
}
.nav-link {
    color: azure;
}
/* header end  */
/* footer */
footer{
    margin-top: 40px;

    background-color: blue;
    height: 400px;
}

.icon-carousel-container {
  overflow: hidden; /* Hides icons that are outside the view */
  width: 40%;
  margin-left: 30%;
}

.icon-carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}

.icon-carousel-wrapper a {
  flex: 0 0 auto; /* Prevents icons from shrinking */
  margin: 0 0px; /* Adjust spacing between icons */

}

.icon-carousel-wrapper img {
  width: 45px;
  height: 45px;
}
.icon-carousel-wrapper a {
    width: calc(30% / 5);
  }
  div.foot-nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 10px;
    padding-left: 20px;
  }
  div.foot-nav ul li {
    /* list-style: none; */
    list-style-type: none;
  }
   div.foot-nav ul li a{
    text-decoration: none;
    color: cornsilk;
  }


/* end footer */


/* body/index.ejs smartphone*/
@media screen and (max-width: 766px){
    /* event card element SP*/
    .card-container {
        display: block;
        padding-left: 23%;
        padding-top: 3%;
    }

    .card {
        width: 80%;
        height: auto;  
    }
    /* end card event SP*/

}
/* footer SP*/
.icon-carousel-wrapper a {
  width: calc(30% / 3);
}
/* end footer SP */
/* end smartphone */

/* body/index.ejs tablet */
@media screen and (min-width: 767px) and (max-width: 991px) {
    /* event card TAB */
.card-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 2%;
    margin-left: 4%; 
}
/* end event card TAB */
.icon-carousel-wrapper a {
    width: calc(30% / 4);
  }
/* footer TAB */

/* end footer TAB */
}
/* end tablet */

/* body/index.ejs laptop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    #carouselExample{
        width: 80%;
        margin-left: 10%;
    }
    .card-container {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 2%;
        margin-left: 4%;
    }
    .card {
        width: 100%;
        height: auto; 
    }
    
    }
    /* end laptop */
/* body/index.ejs desktop */
@media screen and (min-width: 1201px) {
    body{
        margin-left: 15%;
        margin-right: 15%;
            background-color: blue;
    }
    nav > div {
        background-color: darkmagenta;
        padding-left: 20%;
    }
     
    #carouselExample{
        width: auto;
    }
    .card-container {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 1%;
    }
    .card {
        width: 100%;
        height: auto;
        
    }
    }
    /* end desktop */